
.box{

   border:1px solid;
   top:50px;
    left:15px;
    background:white;
    width:200px;
    height:360px;
    overflow:auto;
    position:flex;

}
  
.iphone7{
  position:relative;
  border:1px solid;
  width:231px;
  height:460px;
  background-position:-430px -10px;
  border-radius:40px 40px 
  }
.screen{
    position:absolute;
    top:50px;
    left:15px;
    background:black;
    width:200px;
    height:360px;

}
.circle1{
  border:1px solid;
  position:absolute;
  bottom:8px;
  left:100px;
  background:white;
  height:30px;
  width:30px;
  border-radius:50%;
  
}
.circle2{
  border:1px solid;
  position:absolute;
  top:20px;
  left:65px;
  background:white;
  height:12px;
  width:12px;
  border-radius:50%;
  }

.circle3{border:1px solid;
  position:absolute;
  top:5px;
  left:110px;
  background:white;
  height:8px;
  width:8px;
  border-radius:50%;
  
}
.rectangular{
  border:1px solid;
  position:absolute;
  top:25px;
  left:96px;
  background:white;
  height:4px;
  width:40px;
  border-radius:10px 10px 
}

