.container {
    width: 90%;
    margin: 0px auto;
}


/*基本導覽設定*/

nav {
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #4d2e05;
    color: white;
    text-align: center;
    position: fixed;
}

nav ul {
    padding: 0px;
}

nav>ul>li {
    border: 2px solid #3c2403;
    border-radius: 2px;
    width: 120px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    clear: both;
    font-family: fantasy;
    font-size: 12px;
}

ul>li>ul {
    width: 120px;
    border: 1px solid #3c2403;
    position: absolute;
    text-align: center;
    font-family: fantasy;
    color: black;
    background-color: bisque;
    border-radius: 2px;
}

li>ul>li {
    border: 1px solid;
}

nav a{
    
    background-color: burlywood;
    font-size: 20px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    
}



/*jumbotron的設定*/

.jumbotron {
    color: white;
    height: 100vh;
    background-image: url(https://source.unsplash.com/1200x600?macaroon);
    background-size: cover;
    display: flex;
    align-items: center;
    clear: both;
}

.jumbotron>.container {
    width: 70%;
}

.jumbotron h1 {
    text-align: center;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}


/*btn設定*/

.btn {
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px auto;
    display: block;
}

.btn-primary {
    background-color: #e6d0a6;
    border-color: #ada28e;
    font-family: fantasy;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}

.btn-lg {
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}

.btn-primary:ink {
    color: #4d2e05;
}

.btn-primary:visited {
    color: #a5632a;
}

.btn-primary:hover {
    color: firebrick;
}

.btn-primary:active {
    color: #d48b27;
}

.content,
aside {
    padding: 10px;
    float: left;
}

.content {
    width: 75%;
}

aside {
    width: 25%;
}

article {
    margin-bottom: 20px;
    float: left;
}

article:nth-child(2n-1) {
    padding: 10px;
    background-color: #ddd;
}

article:first-child p {
    font-size: 18px;
    font-weight: bold;
}

article:first-child p .first-letter {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    float: left;
}

article h1 {
    font-size: 20px;
    margin: 10px 0px;
}

article p {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
}

footer {
    height: 150px;
    padding: 10px;
    color: white;
    background-color: #4d2e05;
    width: 100%;
}

footer .content {
    width: 50%;
    padding-left: 20px;
    font-family: fantasy;
}

footer .aside {
    width: 50%;
    padding-right: 20px;
    clear: both;
    font-family: fantasy;
}
