/*
<<<<<<< HEAD
基本導覽列設定
*/

nav li>ul {
    display: none;
}

nav li:hover>ul {
    display: block;
}

nav ul {
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav li>ul>li {}

/*
=======
>>>>>>> master
所有標籤基礎設定
*/

* {
    box-sizing: border-box;
}


/*
基本標籤reset padding margin*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
body,
article,
div {
    padding: 0;
    margin: 0;
}
